<div>
  <kendo-grid [data]="view | async" 
    [loading]="view.loading" 
    [pageSize]="pageSize" 
    [skip]="skip" 
    [sortable]="true" 
    [sort]="sort"
    [pageable]="true" 
    [height]="550" (dataStateChange)="dataStateChange($event)">
    <!-- <kendo-grid-column field="ProductID" width="100"></kendo-grid-column>
    <kendo-grid-column field="ProductName" width="200" title="Category Name"></kendo-grid-column>
    <kendo-grid-column field="QuantityPerUnit" [sortable]="false">
    </kendo-grid-column> -->
    <div *kendoGridDetailTemplate="let dataItem" *ngIf="Discontinued">
      <app-category-details [category]="dataItem"></app-category-details>
    </div>
  </kendo-grid>
</div>